@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap');


.mukta-malar-regular {
  font-family: "Mukta Malar", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
    background-color: rgba(228, 228, 228, 0.361);
}